.generarColumns(@prefix, @columns, @iteracion : 1)
    when(@iteracion =< @columns)
{
    @selector:~'.col-@{prefix}@{iteracion}';
    @ancho:(100% / @columns * @iteracion);
    @offset:~'.offset@{prefix}@{iteracion}';


    

    @{selector} {
        flex-basis: @ancho ;
    }

     @{offset} {
        margin-left: @ancho;
        flex-basis: @ancho ;
    }
    .generarColumns(@prefix, @columns, (@iteracion + 1))
}


.grid-container{
    .row{
        display: flex;
        flex-wrap: wrap;
       
        [class*='col-'] {
            flex: 0 0 auto;
            border: 1px solid darken(@primary-text-color, 30%);
        }
        
        @media (min-width: 720px){
            .generarColumns('sm-',12);
        }

         @media (min-width: 1025px){
            .generarColumns('lg-',12);
        }
          @media (min-width: 1300px){
            .generarColumns('xl-',12);
        }


    }
    
}